@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #111;
}

.warp{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
}

#srarch {
    display: inline;
    font-size: 24px;
    border: 3px solid #9BBC00;
    border-radius: 2em;
    padding: 8px;
    
    
}
#headerspan{
    padding: 20px;
    font-size: 30px;
    padding-left: 40px;
}
.srarchinput{
    outline: none;
    padding-left: 20px;
    border: 0;
    font-size: 24px;
}

#srarch {
    display: inline;
    font-size: 24px;
    border: 3px solid #9BBC00;
    border-radius: 2em;
    padding: 8px;
}
.srarch{
    background-color: white;
    border: none;
    cursor: pointer;
    color: #9BBC00;
    font-size: 24px;
}

#menu_var{
    width: 100%;
    background-color: #9BBC00;
    height: 60px;
}

nav{
    width: 1000px;
    margin: 0 auto;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

li{ 
    list-style: none;
    font-size: 20px;
    margin-top: 15px;
}

li a{
    color: #fff;
    font-weight: 900;
}

li:hover{
    background-color:rgb(18, 211, 169);
    border-radius: 4px;
}

#container{
    margin-top: 10px;
}

#imger{
    margin-bottom: 10px;
}

#logo{
    width: 180px;
}

.dropdown{
    display: inline;
    padding: 20px;   
}

/* #logmig img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 70%;
    border: 3px solid black;
    position: relative;
    top: 8px;
    left: 10px;
} */



.dropbtn {
    position: relative;
    left: 20px;
    bottom: 8px;
    background: url(../img/cook1.jpg);
    background-size: cover;
    border-radius: 70%;
    border: 3px solid black;
    color: white;
    padding: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}




