@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

#background{
    background-color: #9BBC00;
    width: 100%;
    height: 120px; 
}

#litext{
    width: 1500px;
    margin: 0 auto;
    margin-top: 40px;
}

.main1 #main{
    display: flex;
    justify-content: space-between;
}

.lilist{
    list-style: none;
    font-size: 23px;
    margin: 8px;
    padding: 10px;
}

#list ul{
    display: flex;
    justify-content: space-between;
}

#list{
    width: 300px;
}

#footerimg{
    width: 250px;
    height: 100px;
}

.updown { 
    border: 1px 
    solid gray; 
    width: 0.1px; 
    height: 100px; 
}

#max{
    width: 500px;
}

#list ul li:hover{
    background-color:rgb(18, 211, 169);
    border-radius: 4px;
 }

