@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

#continer{
    width: 1000px;
    margin: 0 auto;
}

hr{
    border: 2px solid gray;
    background-color: gray;
    margin-bottom: 20px;
}

.my_h1>img{
    width: 60px;
}

.my_h1{
    text-align: center;
    margin-top: 30px;
}

td a>img{
    width: 150px;
    height: 100px;    
}

#my_table tr td{
    display: inline-block;
    margin-bottom: 20px;
    width: 170px;
}

#my_table tr td{
    margin-left: 20px;
    text-align: center;
}

#my_table button{
    background-color: #9BBC00;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 900;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

#my_table p{
    text-align: left;
    font-size: 18px;
    font-weight: 900;
    margin-left: 9px;
    overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap;
}

li{
    list-style: none;
}
.quick_area { position: fixed; 
    top: 171px; 
    right: 0; 
    width: 94px; 
    z-index: 100; }
.quick_area > .quick_list > li { 
text-align: center; 
background-color: #282828; 
font-size: 15px; }
.quick_area > .quick_list > li > a { 
display: block; padding: 15px 0; 
border-top: 1px solid #4d4d4d; }
.quick_area > .quick_list > li:first-child a { border-top: none; }
.quick_area > .quick_list > li > a > h3 { padding-bottom: 10px; color: #ddd; letter-spacing: -2px;}
.quick_area > .quick_list > li:last-child > a > h3 { padding-bottom: 0; }
.quick_area > .quick_list > li > a > p { line-height: 1.3; font-size: 12px; color: #fff; }
.quick_area > .quick_list > li{
margin-top: 0px;
}

.to_top { text-align: center; background-color: #fff; }
.to_top a { display: block; 
height: 45px; box-sizing: border-box; text-indent: -9999px; overflow: hidden; border-left: 1px solid #a3a3a3; 
border-bottom: 1px solid #a3a3a3; 
background: url(../img/ico_totop.png) no-repeat center; background-size: 50%; }

/* 일반 폰 사이즈 */
@media screen and (max-width: 800px) {
    
    #continer{
        width: 100%;
    }
    #my_table tr td{
        margin-left: 0px;
    }
    #my_table{
        text-align: center;
    }
    .quick_area .quick_list {display: none;}
    .to_top{position: fixed; right: 20px; bottom: 112px; text-align: center; background: none; z-index: 100;}
    .to_top a{display: block; width: 45px; height: 45px; border-left: none; border-bottom: none; 
    background: url(../img/ico_totop_mo.png)no-repeat center; background-size: 45px;}

}
