*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

#continer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1{
    margin-bottom: 20px;
}

#search_table tr td{
    width: 230px;
    display: inline-block;
    margin-bottom: 90px;
}

#search_table{
    padding: 30px;
}

td a>img{
    width: 150px;
    height: 100px;    
}

#search_table{
    text-align: left;
}

.getspan1{
    font-weight: 900;
    font-size: 14px;
}

.getspan{
	font-weight: 900;
}

b{
    color: #9BBC00;
}


#Youtube_list{
    text-align: left;
    margin-top: 40px;
}

#Youtube_list #you>img{
    position: relative;
    top: 20px;
    margin-right: 10px;
    width: 64px;
    height: 64;
}

#Youtube_list .youico{
    padding-right: 70px;
    vertical-align: bottom;
    position: relative;
    width: 100px;
    height: 100px;
    
}

hr{
    border: 2px solid gray;
    background-color: gray;
}

.youtube_p,.naver_p{
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    

}



#Naver_list{
    text-align: left;
    margin-top: 100px;
}

#Naver_list #naver>img{
    position: relative;
    top: 20px;
    margin-right: 10px;
}

#Naver_list .naverico{
    width: 100px;
    height: 100px;
    padding-right: 70px;
}

#continer button{
    background-color: #9BBC00;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 900;
    width: 50px;
    border-radius: 20px;
    color: #fff;
}

#naver_table .t2{
    width: 80%;
}
#youtube_table .t2{
    width: 80%;
}

#Naver_list img{
    width: 60px;
}