*{
    padding: 0;
    margin: 0;
}

#continer{
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#t1{
    width: 100%;
    height: 250px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

h3{
    display: inline;
}
#meun1{
    width: 300px;
    display: inline;
    
}
#meun2{
    
    padding-top: 20px;
}
#meun3{
    width: 200px;
    float: right;
    height: 200px;
    border: 1px solid black;
    background-color: gray;
    position: relative;
    bottom: 144px;
    margin-right: 120px;

}
#meun4{
    float: left;
    padding-top: 10px;
}

#meun1 .meun1_input{
    padding-left: 80px;
    width: 450px;
    font-size: 20px;
    padding: 10px;
    outline-style: none;
    border: 1px solid gray; 
}

::placeholder{
    font-size: 15px;
}

textarea{
    resize: none;
    width: 450px;
    padding: 10px;
    display: inline;
    outline-style: none; 
}

p{
    display: inline;
}

#meun2 h3{
    position: relative;
    bottom: 40px;
    padding-left: 25px;
}

#meun4 h3{
    padding-left: 25px;
}

select{
    font-size: 20px;
    font-weight: 900;
    outline-style: none; 
}

#t2{
    width: 100%;
    height: 400px;
}

#t2 > h3{
    padding-left: 50px;
}

/* #material{
    text-align: center;
}

#material > input{
    outline-style: none; 
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}

.material{
    text-align: center;
    padding-top: 15px;
    padding-left: 70px;
    
}

.material > input{
    outline-style: none; 
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
} */

.material1 > .mater_input{
    outline-style: none; 
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid gray;
}

.material1{
    padding-top: 15px;  
    position: relative;
    left: 93px;
}

.input-file-button{
    padding: 6px 25px;
    background-color:#9BBC00;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    float: right;
    position: relative;
    top: 65px;
    left: 150px;
}

#material1plus{
    position: relative;
    left: 37%;
}

#material1plus button{
    background-color: white;
    border: none;
    font-size: 20px;
    padding-top: 10px;
    color: gray;
    cursor: pointer;
}

#t2 .material1 button{
    font-weight: 900;
    background-color:#9BBC00;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#t3{
    width: 100%;
}
#t3 span{
    color: #9BBC00;
    font-weight: 900;
    font-size: 25px;
    margin: 40px;
    vertical-align: top;
}

#t3 textarea{
    width: 50%;
    height: 100px;
    border-radius: 15px;
    border: 3px solid #ccc;
    outline-style: none;
    font-size: 17px;
}

#t3 textarea::placeholder{
    color: #ccc;
}

#t3 .foodlist button{
    font-weight: 900;
    background-color:#9BBC00;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: relative;
    top: -13px;
}


