<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IngredientDAO">
	<resultMap id="ingredientList" type="ingredient">
		<id property="ingredientId" column="INGREDIENT_ID" />
		<result property="ingredientName" column="INGREDIENT_NAME" />
		<result property="ingredientAmount" column="INGREDIENT_AMOUNT" />
		<result property="recipeId" column="RECIPE_ID" />
	</resultMap>
	<!-- 재료 등록 -->
	<insert id="insertIngredient" parameterType="ingredient">
		INSERT INTO
		INGREDIENT(INGREDIENT_NAME,INGREDIENT_AMOUNT,RECIPE_ID)
		VALUES(
		#{ingredientName},
		#{ingredientAmount},
		#{recipeId}
		)
	</insert>
	<!-- 재료리스트 리턴 -->
	<select id="getIngredientList" parameterType="int" resultMap="ingredientList">
		SELECT *
		FROM INGREDIENT
		WHERE RECIPE_ID = #{recipeId}
	</select>
</mapper>