<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	<insert id="insertUser" parameterType="user">
		INSERT INTO USER(ID,
		PASSWORD, EMAIL, NICKNAME)
		VALUES(#{id},#{password},#{email},#{nickname})
	</insert>
	<select id="login" parameterType="user" resultType="int">
		SELECT
		COUNT(*)
		FROM USER
		WHERE ID = #{id}
		AND PASSWORD = #{password}
	</select>
</mapper>